html, html * {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}

/* CSS declarations go here */
#__blaze-root{
    height: 100%;
}