<template name="single_login">
    <div class="login-screen">
        <!-- Default view-page layout -->
        <div class="view">
            <div class="page">
                <!-- page-content has additional login-screen content -->
                <div class="page-content login-screen-content">
                    <div style="text-align: center;">
                        <img src="/icons/Logo512.png" style="width: 50%; max-width: 300px;">
                    </div>
                    <div class="login-screen-title">RunItEasy</div>
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Username</div>
                                    <div class="item-input">
                                        <input type="text" name="username" placeholder="Username">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Password</div>
                                    <div class="item-input">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <ul>
                            <li>
                                <a href="#" class="item-link list-button">Sign In</a>
                            </li>
                        </ul>
                        <div class="list-block-label">Some text with login information.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>