<template name="sportTypeDescriptions">
    {{#each s in sportTypes}}
        {{>popup class=(add "popup-" s.id) title=s.name subtitle="Informationen" content="sportTypeDescriptionsPopup" data=(toSimplePopupData s)}}
    {{/each}}
    <style>
        .vcenterIcon {
            height: 39px;
            line-height: 39px;
            text-align: center;
        }

        #description img {
            display: block;
            margin: auto;
        }
    </style>
</template>


<template name="sportTypeDescriptionsPopup">
    {{#with data}}
        <h5 class="t-center">Einheit: {{unit}}</h5>
        {{#with m}}
            <h5 class="t-center">Jungen: {{min}} {{#if not (isEmpty age)}} - {{/if}} {{max}}{{#if not (isEmpty age)}}
                Jahre{{/if}}</h5>
        {{/with}}
        {{#with w}}
            <h5 class="t-center">Mädchen: {{min}} {{#if not (isEmpty age)}} - {{/if}} {{max}}{{#if not (isEmpty age)}}
                Jahre{{/if}}</h5>
        {{/with}}
        <!--Three { are required for html Tags!-->
        <p id="description" style="text-align: justify">{{{description}}}</p>
    {{/with}}
</template>