<template name="outputSortingPopover">
    <div class="popover popover-sorting">
        <div class="popover-angle"></div>
        <div class="popover-inner">
            <div class="list-block sortable" id="sortOrderSorter">
                <ul>
                    {{#each s in baseSortingSettings}}
                        {{#with s}}
                            <li>
                                <div class="item-content" data-id="{{id}}">
                                    <div class="item-media"><i class="f7-icons">{{icon}}</i></div>
                                    <div class="item-inner">
                                        <div class="item-title">{{name}}</div>
                                    </div>
                                </div>
                                <!-- Sortable handler  -->
                                <div class="sortable-handler"></div>
                            </li>
                        {{/with}}
                    {{/each}}
                </ul>
            </div>
            <div class="list-block" style="padding-top: 0; margin-top: 0;">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="button-highlight" style="text-align: center; width: 100%;">
                                    <div class="open-popup" data-popup=".popup-help">Hilfe</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="button-highlight" style="text-align: center; width: 100%;">
                                    <div class="Right sorting-reset-button">Auf Standart Zurücksetzen</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{>popup class="popup-help" title="Hilfe" subtitle="Sortierung und Gruppierung" content="help_sorting"}}
</template>

<template name="help_sorting">
    <div align="left">
        Die Liste der Ergebnisse aller Teilnehmer kann sowohl nach einem Attribut gruppiert, als auch nach mehreren Attributen sortiert werden. <br />
        Mögliche Attribute lauten wie folgt: <br />

        <ul align="left">
            <li>Urkundenstatus: Bereit/Nicht Bereit/Update/Fertig</li>
            <li>Urkundentyp: Teilnehmer-/Ehren-/Siegerurkunde</li>
            <li>Nachname: Alphabetisch</li>
            <li>Vorname: Alphabetisch</li>
            <li>Punkte: Gesamtpunktzahl</li>
            <li>Jahrgang: Jung nach Alt</li>
            <li>Gruppe: Gruppenzugehörigkeit</li>
            <li>Geschlecht: Männlich/Weiblich</li>
        </ul>

        Das erste Attribut in der Liste wird genutzt, um die Einträge zu gruppieren, alle darauf folgenden Attribute werden zur Sortierung der
        Einträge innerhalb ihrer Gruppen genutzt. Die Gewichtung der Attribute zur Sortierung gilt von oben nach unten.
    </div>
</template>