.view-left {
    float: left;
    width: 320px;
    border-right: 1px solid #b2b2b2;
}

.view-main {
    width: -webkit-calc(100% - 321px);
    width: -moz-calc(100% - 321px);
    width: -ms-calc(100% - 321px);
    width: calc(100% - 321px);
}