<template name="output">
    {{> offline}}
    <div class="pages">
        <div data-page="index" class="page navbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"><a href="#" class="logout-button">Abmelden</a></div>
                    <div class="center">
                        Urkunden
                    </div>
                    <div class="right">
                        <a href="#" data-popover=".popover-filter" class="open-popover"><i
                                class="f7-icons">filter</i></a>
                        <a href="#" data-popover=".popover-sorting" class="open-popover"><i
                                class="f7-icons">sort</i></a>
                    </div>
                </div>
            </div>

            <div class="page-content" id="outputContentWrapper">
                {{>outputContent}}
            </div>
        </div>
    </div>

    {{#each a in allAthletes}}
        {{>popup class=(add "popup-detail-" a.id) title=a.name subtitle=(add "Gesamtpunktzahl: " a.score) content="detailedResults" data=(toSimplePopupData a)}}
        <!--{{>detailedResults athlete=a}}-->
    {{/each}}

    {{>outputFilterPopover}}
    {{>outputSortingPopover}}
</template>


<template name="outputContent">
    {{#each u in uiElements}}
        {{#with u}}
            <div class="autoWidthListBlock collapsible {{#if not u.show}}collapsed{{/if}}">
                {{#if showTitle title}}
                    <div class="content-block-title">{{title}}</div>{{/if}}
                <div class="list-block">
                    <ul class="certificate-list">
                        {{#each a in athletes}}
                            {{>result athlete=a}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/with}}
    {{/each}}
</template>