<template name="output">
    {{> offline}}
    <div class="pages">
        <div data-page="index" class="page navbar-fixed toolbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"><a href="#" data-popup=".popup-help" class="open-popup"><i
                            class="f7-icons">help</i></a></div>
                    <div class="center truncate">
                        <div class="slider-title-wrapper">
                            <div class="slider-title-overlay"></div>
                            <div id="output-name-swiper" class="swiper-container full-height">
                                <div class="swiper-wrapper">
                                    {{#each g in groups}}
                                        <div class="swiper-slide open-popover hover-underline group-name"
                                             data-popover=".popover-groups">{{g.name}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <a href="#" data-popover=".popover-sorting" class="open-popover"><i
                                class="f7-icons">filter</i></a>
                        <a href="#" data-popover=".popover-sorting" class="open-popover"><i
                                class="f7-icons">sort</i></a>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div id="output-swiper" class="swiper-container full-height">
                    <div class="swiper-wrapper">
                        {{#each g in groups}}
                            <div class="swiper-slide" data-hash="{{g.hash}}">
                                {{>groupCertificates group=g}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="swiper-pagination fraction"></div>
            </div>

            <div class="toolbar">
                <div class="toolbar-inner">
                    <div class="item-link center"><a href="#" class="logout-button">Abmelden</a></div>
                </div>
            </div>
        </div>
    </div>

    {{#each g in groups}}
        {{#with g}}
            <!-- Detailed result popups -->
            {{#each a in validAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
            {{#each a in invalidAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
            {{#each a in doneAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
        {{/with}}
    {{/each}}

    <div class="popover popover-groups">
        <div class="popover-angle"></div>
        <div class="popover-inner">
            <div class="list-block hide-scrollbar limit-vertical-height">
                <ul>
                    {{#each groups}}
                        <li><a href="#" class="list-button item-link group-link"
                               data-target="{{@index}}">{{this.name}}</a></li>
                    {{/each}}
                    <li>
                        <a href="#" class="list-button item-link refresh-link"><i class="f7-icons">reload</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="popover popover-sorting">
        <div class="popover-angle"></div>
        <div class="popover-inner">
            <div class="list-block sortable">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="f7-icons">person</i></div>
                            <div class="item-inner">
                                <div class="item-title">Vorname</div>
                            </div>
                        </div>
                        <!-- Sortable handler  -->
                        <div class="sortable-handler"></div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="f7-icons">person</i></div>
                            <div class="item-inner">
                                <div class="item-title">Nachname</div>
                            </div>
                        </div>
                        <div class="sortable-handler"></div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="f7-icons">persons</i></div>
                            <div class="item-inner">
                                <div class="item-title">Gruppe</div>
                            </div>
                        </div>
                        <div class="sortable-handler"></div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="f7-icons">today</i></div>
                            <div class="item-inner">
                                <div class="item-title">Alter</div>
                            </div>
                        </div>
                        <div class="sortable-handler"></div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="f7-icons">tags</i></div>
                            <div class="item-inner">
                                <div class="item-title">Urkundenstatus</div>
                            </div>
                        </div>
                        <div class="sortable-handler"></div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="f7-icons">stopwatch</i></div>
                            <div class="item-inner">
                                <div class="item-title">Punkte</div>
                            </div>
                        </div>
                        <div class="sortable-handler"></div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="f7-icons">heart</i></div>
                            <div class="item-inner">
                                <div class="item-title">Geschlecht</div>
                            </div>
                        </div>
                        <div class="sortable-handler"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>