.collapsible {
    overflow: hidden;
    /*-webkit-transition: max-height 1s;*/
    /*-moz-transition: max-height 1s;*/
    /*-ms-transition: max-height 1s;*/
    /*-o-transition: max-height 1s;*/
    transition: max-height 1s;
    max-height: 4000px;
}

.collapsible.collapsed {
    max-height: 0;
}

.result-accordion {
    /*-webkit-transition: max-height 1s;*/
    /*-moz-transition: max-height 1s;*/
    /*-ms-transition: max-height 1s;*/
    /*-o-transition: max-height 1s;*/
    /*transition: max-height 0s;*/
    max-height: 800px;
}

.result-accordion.collapsed {
    transition: max-height 1s;
    overflow: hidden;
    max-height: 0;
}

.result-accordion.collapsed::after {
    max-height: 0;
}

.result-accordion.fade-open {
    animation-name: fadeOpen;
    animation-duration: 4s;
}

@keyframes fadeOpen {
    from {
        max-height: 0
    }
    to {
        max-height: 800px
    }
}