<template name="config">
    <div class="pages">
        <div data-page="index" class="page navbar-fixed toolbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"><a href="#" data-popup=".popup-help" class="open-popup"><i
                            class="f7-icons">help</i></a></div>
                    <div class="center truncate">
                        <div class="slider-title-wrapper">
                            <div class="slider-title-overlay"></div>
                            <div id="config-name-swiper" class="swiper-container full-height">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">Wettkämpfe</div>
                                    <div class="swiper-slide">Athleten</div>
                                    <div class="swiper-slide">Sportarten</div>
                                    <div class="swiper-slide">Zugangscodes</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <a href="#" data-popover=".popover-sorting" class="open-popover"><i
                                class="f7-icons">filter</i></a>
                        <a href="#" data-popover=".popover-sorting" class="open-popover"><i
                                class="f7-icons">sort</i></a>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div id="config-swiper" class="swiper-container full-height">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            {{>competitionList title="Konfigurierte Wettkämpfe" competitions=competitions.readOnly readOnly=true}}
                            {{>competitionList title="Unvollständige Wettkämpfe" competitions=competitions.writable}}
                        </div>
                        <div class="swiper-slide">
                            {{> athleteList}}
                        </div>
                        <div class="swiper-slide">
                            Hi there
                        </div>
                        <div class="swiper-slide">
                            {{> accessCodes}}
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination fraction"></div>
            </div>

            <div class="toolbar">
                <div class="toolbar-inner">
                    <div class="item-link center"><a href="#" class="logout-button">Abmelden</a></div>
                </div>
            </div>
        </div>
    </div>

    {{#each c in competitions.readOnly}}
        {{>sportTypePopup competition=c}}
    {{/each}}
    {{#each c in competitions.writable}}
        {{>sportTypePopup competition=c}}
    {{/each}}
</template>