<template name="config">
    {{> offline}}
    <div class="pages">
        <div data-page="index" class="page navbar-fixed toolbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="item-link left full-height">
                        <div class="slider-title-wrapper" style="width: calc((100% - 250px) / 2);">
                            <div id="config-left-button-swiper" class="swiper-container full-height">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="text-align: center; display: table; height: 100%">
                                        <a style="display: table-cell; vertical-align: middle;" href="#"
                                           class="logout-button t-left">Abmelden</a>
                                    </div>
                                    <div class="swiper-slide" style="text-align: center; display: table; height: 100%">
                                        <a style="display: table-cell; vertical-align: middle;" href="#"
                                           class="back-button t-left">Zurück</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center truncate">
                        <div class="slider-title-wrapper">
                            <div class="slider-title-overlay"></div>
                            <div id="config-name-swiper" class="swiper-container full-height">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">Wettkämpfe</div>
                                    <div class="swiper-slide">{{#if edit}}Sportarten{{else}}Athleten{{/if}}</div>
                                    <div class="swiper-slide">Athleten</div>
                                    <div class="swiper-slide">Zugangscodes</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <a href="#"
                           class="fwd-button t-left fade {{#if forwardButtonShown}}fade-in{{/if}}">{{forwardButton}}</a>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div id="config-swiper" class="swiper-container full-height">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            {{>competitionList title="Konfigurierte Wettkämpfe" competitions=competitions.readOnly readOnly=true}}
                            {{>competitionList title="Unvollständige Wettkämpfe" competitions=competitions.writable}}
                        </div>
                        <div class="swiper-slide">
                            {{#if edit}}
                                {{> sportTypeSelection}}
                            {{else}}
                                {{> athleteList}}
                            {{/if}}
                        </div>
                        <div class="swiper-slide">
                            {{> athleteList}}
                        </div>
                        <div class="swiper-slide">
                            {{> accessCodes}}
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination fraction"></div>
            </div>

            <div class="toolbar">
                <div class="toolbar-inner">
                    <div class="item-link center"><a href="#" class="logout-button">Abmelden</a></div>
                </div>
            </div>
        </div>
    </div>

    {{>startClassesPopup}}
    {{>competitionTypePopup}}

    {{#each c in competitions.readOnly}}
        {{>sportTypePopup competition=c}}
    {{/each}}
    {{#each c in competitions.writable}}
        {{>sportTypePopup competition=c}}
    {{/each}}
</template>