<template name="config">
    {{> offline}}
    <div class="pages">
        <div data-page="index" class="page navbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="item-link left full-height">
                        <div class="slider-title-wrapper" style="width: calc((100% - 250px) / 2);">
                            <div id="config-left-button-swiper" class="swiper-container full-height">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="text-align: center; display: table; height: 100%">
                                        <a style="display: table-cell; vertical-align: middle;" href="#"
                                           class="logout-button t-left">Abmelden</a>
                                    </div>
                                    <div class="swiper-slide" style="text-align: center; display: table; height: 100%">
                                        <a style="display: table-cell; vertical-align: middle;" href="#"
                                           class="back-button t-left">Zurück</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center truncate">
                        <div class="slider-title-wrapper">
                            <div class="slider-title-overlay"></div>
                            <div id="config-name-swiper" class="swiper-container full-height">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">Wettkämpfe</div>
                                    <div class="swiper-slide">{{#if edit}}Sportarten{{else}}Athleten{{/if}}</div>
                                    <div class="swiper-slide">Athleten</div>
                                    <div class="swiper-slide">Zugangscodes</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        {{#if printButtonShown}}
                            <a href="#" class="print-button t-left fade fade-in">
                                <i class="f7-icons">download</i>
                            </a>
                        {{/if}}
                        <a href="#" class="fwd-button t-left fade {{#if forwardButtonShown}}fade-in{{/if}} {{#if
                                (eq forwardIcon.level 2)}}disabled{{/if}}">
                            {{#if forwardIcon}}
                                {{> Template.dynamic template=forwardIcon.template data=forwardIcon.data}}
                            {{/if}}
                            {{forwardButton}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div id="config-swiper" class="swiper-container full-height">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            {{>competitionList title="Konfigurierte Wettkämpfe" competitions=competitions.readOnly readOnly=true}}
                            {{>competitionList title="Unvollständige Wettkämpfe" competitions=competitions.writable}}
                        </div>
                        <div class="swiper-slide">
                            {{#if edit}}
                                {{> sportTypeSelection}}
                            {{else}}
                                {{> athleteList}}
                            {{/if}}
                        </div>
                        <div class="swiper-slide">
                            {{> athleteList}}
                        </div>
                        <div class="swiper-slide">
                            {{> accessCodes}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>startClassesPopup}}
    {{>competitionTypePopup}}

    {{#each c in competitions.readOnly}}
        {{>popup class=(add "popup-sportTypes-" c._id) title=c.name subtitle="Sportarten" content="sportTypePopup" data=(toSimplePopupData c)}}
        <!--{{>sportTypePopup competition=c}}-->
    {{/each}}
    {{#each c in competitions.writable}}
        {{>popup class=(add "popup-sportTypes-" c._id) title=c.name subtitle="Sportarten" content="sportTypePopup" data=(toSimplePopupData c)}}
        <!--{{>sportTypePopup competition=c}}-->
    {{/each}}
</template>

