html, html * {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}

.t-left {
    text-align: left;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.button-highlight {
    color: #007aff;
    cursor: pointer;
}

.justify {
    text-align: justify;
}

.gap {
    margin-bottom: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.bg-color-transition {
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
}

.fade {
    -webkit-transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    -o-transition: opacity 1000ms ease;
    -ms-transition: opacity 1000ms ease;
    transition: opacity 1000ms ease;
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

#__blaze-root{
    height: 100%;
}

@media screen and (min-width: 800px) {
    .autoWidthListBlock {
        width: 800px;
        margin-left: calc(50% - 400px);
    }

    .autoWidthListBlock ul {
        border-left: 1px solid rgb(200, 200, 200);
        border-right: 1px solid rgb(200, 200, 200);
    }
}


html {
 -webkit-text-size-adjust: 100%;
}