@keyframes slide-in-animation {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 800px;
    }
}

.collapse-height-100 {
    max-height: 100px;
}

.collapsible:not(.collapse-height-100) {
    max-height: 4000px;
}

.collapsible {
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.collapsible.collapsed {
    overflow: hidden;
    max-height: 0;
}

.collapsible.collapsed::after {
    max-height: 0;
}

/* TODO Replace this w/ the above class and an additional collapse-height-800 class */
.result-accordion {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    max-height: 800px;
    animation-name: slide-in-animation;
    animation-duration: 1s;
}

.result-accordion.collapsed {
    overflow: hidden;
    max-height: 0;
}

.result-accordion.collapsed::after {
    max-height: 0;
}

.result-accordion.fade-open {
    animation-name: fadeOpen;
    animation-duration: 4s;
}

@keyframes fadeOpen {
    from {
        max-height: 0
    }
    to {
        max-height: 800px
    }
}