.tooltip {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
    -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(85, 85, 85);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    left: 55px;
    top: 6px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border: 5px solid transparent;
    border-right-color: rgb(85, 85, 85);
}