<template name="input">
    <div class="view navbar-through">

        <!-- Participant selection -->
        <div class="panel-overlay"></div>
        <div class="panel panel-left panel-cover">
            <div class="content-block">
                <p class="panel-title">Teilnehmer</p>

                <div class="contacts-content">
                    <div class="list-block contacts-block">
                        <ul>
                            {{#each a in athletes}}
                                {{#with a}}
                                    <li data-id="{{id}}" class="athlete">
                                        <div class="contact-content">
                                            <div class="item-inner">
                                                <div class="item-title">{{name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                {{/with}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link open-panel">
                        <i class="icon icon-bars"></i>
                        <span>Teilnehmer</span>
                    </a>
                </div>
                <div class="center">{{nameByID athlete_id}}</div>
                <div class="right"><a href="#" class="logout-button open-login-screen">Abmelden</a></div>
            </div>
        </div>
        {{#if athlete_id}}
            <!-- Page Content -->
            <div class="page">
                <div class="page-content">
                    {{#with athleteByID athlete_id}}
                        {{#each s in sportType}}
                            {{>attempts sportType=s}}
                        {{/each}}
                        {{#if isEmpty sportType}}
                            <div class="content-block">
                                <p style="text-align: center;">Wie es scheint haben wir bis jetzt keinerlei
                                    Messdaten.</p>
                            </div>
                        {{/if}}
                    {{/with}}
                </div>
            </div>
        {{else}}
            <div class="page">
                <div class="page-content" style="width: 100%;">
                    <span style="width:42px; height:42px; margin: auto; display: block; padding-top: 30px"
                          class="preloader"></span>
                </div>
            </div>
        {{/if}}
        <!-- Toolbar -->
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="" id="link_prev" class="item-link">Vorheriger</a>
                <a href="" id="link_next" class="item-link">Nächster</a>
            </div>
        </div>
    </div>
</template>

<template name="attempts">
    {{#with sportType}}
        <div class="content-block-title">{{#with metadata}}{{name}}{{/with}}</div>
        <div class="list-block">
            <ul>
                {{#each m in measurements}}
                    {{>attempt n=@index measurement=m metadata=metadata athlete_id=athlete_id}}
                {{/each}}
                {{>attempt n=(length measurements) measurement=empty_measurement metadata=metadata}}
            </ul>
        </div>
    {{/with}}
</template>

<template name="attempt">
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label">{{inc n}}. Versuch</div>
                <div class="item input">
                    <input type="number"
                           placeholder="Ergebnis in {{#with metadata}}{{unit}}{{/with}}"
                           value="{{#with measurement}}{{value}}{{/with}}"
                           data-attempt="{{inc n}}"
                           data-athlete-id="{{athlete_id}}"
                           data-stID="{{#with metadata}}{{id}}{{/with}}"
                        {{isReadOnly measurement}}
                    >
                </div>
            </div>
        </div>
    </li>
</template>