<template name="input">
    <div class="pages">
        <div data-page="index" class="page navbar-fixed toolbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"><a href="#" data-popup=".popup-help" class="open-popup"><i
                            class="f7-icons">help</i></a></div>
                    <div class="center truncate">
                        <div id="input-name-swiper" class="swiper-container full-height">
                            <div class="swiper-wrapper">
                                {{#each a in athletes}}
                                    <div class="swiper-slide open-popover hover-underline athlete-name"
                                         data-popover=".popover-athletes">{{a.getFullName}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <a href="#" data-popover=".popover-settings" class="open-popover"><i
                                class="f7-icons">gear</i></a>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div id="input-swiper" class="swiper-container" style="height: 100%;">
                    <div class="swiper-wrapper">
                        {{#each a in athletes}}
                            <div class="swiper-slide" data-hash="{{a.id}}">
                                {{#with a}}
                                    {{#each s in sportType}}
                                        {{>attempts sportType=s}}
                                    {{/each}}
                                    {{#if isEmpty sportType}}
                                        <div class="content-block">
                                            <p style="text-align: center;">Es wurden noch keine Messdaten übermittelt.</p>
                                        </div>
                                    {{/if}}
                                    {{#if isNotEmpty nonPermittedSportTypes}}
                                        <div class="content-block">
                                            <div class="t-center">Folgende Sportarten kann {{getFullName}} an
                                                dieser Station nicht durchführen:
                                            </div>
                                            {{#each n in nonPermittedSportTypes}}
                                                <div style="text-align: center;">{{n}}</div>
                                            {{/each}}
                                            <br>
                                            <div class="t-center">Dies liegt an dem Alter, dem Geschlecht
                                                oder der Startklasse.
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/with}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="swiper-pagination"
                         style="left: calc(50% - 25px); text-align: center; width: 50px; padding: 5px; background-color:rgba(225, 225, 225, 0.75); border-radius: 20px;"></div>
                </div>
            </div>

            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="" id="link_prev" class="item-link hideOnMobile left">Vorheriger</a>
                    <div class="item-link center">
                        {{#if both_logged_in}}
                            <a href="#" class="logout-button">{{last_login}} abmelden</a>
                        {{else}}
                            <a href="#" class="return-to-login">Übersicht</a>
                        {{/if}}
                    </div>
                    <a href="" id="link_next" class="item-link hideOnMobile right">Nächster</a>
                </div>
            </div>
        </div>
    </div>

    {{>sportTypeDescriptions sportTypes=sportTypes}}

    <div class="popover popover-athletes">
        <div class="popover-angle"></div>
        <div class="popover-inner">
            <div class="list-block hide-scrollbar limit-vertical-height hover-underline">
                <ul>
                    {{#each athletes}}
                        <li><a href="#" class="list-button item-link athlete-link"
                               data-target="{{@index}}">{{this.firstName}}&nbsp;{{this.lastName}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <!--TODO update-->
    <div class="popup popup-help">
        <p style="right: 14px; top: 0; position: absolute;"><a href="#" class="close-popup"><i class="f7-icons">close_round</i></a>
        </p>
        <div class="content-block">
            <h2>Hilfe</h2>
            <div class="page-content">

            </div>
        </div>
    </div>

    <div class="popover popover-settings">
        <div class="popover-angle"></div>
        <div class="popover-inner">
            <div class="list-block">
                <ul>
                    {{>switch title="Herren anzeigen" id="show-male"}}
                    {{>switch title="Damen anzeigen" id="show-female"}}
                    {{>switch title="Geschlechter gruppieren" id="group-by-sex"}}
                </ul>
            </div>
        </div>
    </div>
</template>

<template name="switch">
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label" style="width: 75%">{{title}}</div>
                <div class="item-input" style="text-align: right">
                    <label class="label-switch">
                        <input type="checkbox" data-id="{{id}}" class="setting-checkbox">
                        <div class="checkbox"></div>
                    </label>
                </div>
            </div>
        </div>
    </li>
</template>

<template name="sportTypeDescriptions">
    {{#each s in sportTypes}}
        {{#with s}}
            <div class="popup popup-{{id}}">
                <div class="content-block">
                    <a href="#" class="close-popup"><i class="f7-icons vcenterIcon link"
                                                       style="float: left;">chevron_left</i></a>
                    <h1 class="t-center">{{name}}</h1>
                    <h5 class="t-center">Einheit: {{unit}}</h5>
                    <p id="description" style="text-align: justify">{{{description}}}</p>
                    <!--Three { are required for html Tags!-->
                    {{#with m}}
                        {{#each a in age}}
                            {{a}}
                        {{/each}}
                    {{/with}}
                    <!-- TODO Add female participant age and display it and the one for males in a meaningful manner instead of just listing them -->
                </div>
            </div>
        {{/with}}
    {{/each}}
    <style>
        .vcenterIcon {
            height: 39px;
            line-height: 39px;
            text-align: center;
        }

        #description img {
            display: block;
            margin: auto;
        }
    </style>
</template>

<template name="attempts">
    {{#with sportType}}
        <div class="autoWidthListBlock">
            <div class="content-block-title" data-swiper-parallax="-100" data-swiper-parallax-duration="500">
                <a href="#" data-popup=".popup-{{name}}" class="link-open-st-info open-popup">
                    {{#with metadata}}{{name}}{{/with}} <i class="f7-icons" style="font-size: 12px">info</i>
                </a>
            </div>
            <div class="list-block"
                 style="{{#if
                         gap}}margin-bottom: 70px; padding-bottom: 70px; border-bottom: 1px solid rgb(200, 200, 200);{{/if}}">
                <ul>
                    {{#each m in measurements}}
                        {{>attempt n=@index measurement=m metadata=metadata}}
                    {{/each}}
                    {{#if scoreWritePermission metadata}}
                        {{>attempt n=(length measurements) measurement=empty_measurement metadata=metadata}}
                    {{/if}}
                </ul>
            </div>
        </div>
    {{/with}}
</template>

<template name="attempt">
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label">{{inc n}}. Versuch</div>
                <div class="item input">
                    <input type="{{#with metadata}}{{inputType}}{{/with}}"
                           placeholder="Ergebnis in {{#with metadata}}{{unit}}{{/with}}"
                           value="{{#with measurement}}{{strValue}}{{/with}}"
                           data-attempt="{{inc n}}"
                           data-stID="{{#with metadata}}{{id}}{{/with}}"
                           class="{{#with measurement}}{{class}}{{/with}}"
                        {{isReadOnly measurement}}
                    >
                </div>
            </div>
        </div>
    </li>
</template>