<template name="input">
    <div class="view navbar-through">

        <!-- Participant selection -->
        <div class="panel-overlay"></div>
        <div class="panel panel-left panel-cover">
            <div class="content-block">
                <p class="panel-title">Teilnehmer</p>

                <div class="contacts-content">
                    <div class="list-block contacts-block">
                        <ul>
                            {{#each a in athletes}}
                                {{#with a}}
                                    <li data-id="{{id}}" class="athlete">
                                        <div class="contact-content">
                                            <div class="item-inner">
                                                <div class="item-title">{{name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                {{/with}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link open-panel">
                        <i class="icon icon-bars"></i>
                        <span>Teilnehmer</span>
                    </a>
                </div>
                <div class="center">{{#with athleteByID athlete_id}}{{firstName}}&nbsp;{{lastName}}{{/with}}</div>
                <div class="right"><a href="#" class="logout-button open-login-screen">Abmelden</a></div>
            </div>
        </div>
        {{#if athlete_id}}
            {{#with athleteByID athlete_id}}
                <!-- Page Content -->
                <div class="page">
                    <div class="page-content">
                        {{#each s in getSportTypes}}
                            {{>attempts sportType=s}}
                        {{/each}}
                    </div>
                </div>
            {{/with}}
        {{else}}
            <div class="page">
                <div class="page-content" style="width: 100%;">
                    <span style="width:42px; height:42px; margin: auto; display: block; padding-top: 30px"
                          class="preloader"></span>
                </div>
            </div>
        {{/if}}
        <!-- Toolbar -->
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="" id="link_prev" class="item-link">Vorheriger</a>
                <a href="" id="link_next" class="item-link">Nächster</a>
            </div>
        </div>
    </div>
</template>

<template name="attempts">
    {{#with sportType}}
        <div class="content-block-title">{{name}}</div>
        <div class="list-block">
            <ul>
                {{>attempt n=1 unit=unit}}
                <!--{{>attempt n=2 unit=unit}}-->
                <!--{{>attempt n=3 unit=unit}}-->
            </ul>
        </div>
    {{/with}}
</template>

<template name="attempt">
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label">{{n}}. Versuch</div>
                <div class="item input">
                    <input type="number" placeholder="Ergebnis in {{unit}}">
                </div>
            </div>
        </div>
    </li>
</template>