<template name="home_main">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding">Wettkampfkonfiguration</div>
        </div>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="content-block-title">Wettkampfattribute</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Name</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Wettkampfname">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Wettkampfart</div>
                                <div class="item-input">
                                    <input type="text" readonly placeholder="Wettkampfart" id="pick-comp_type">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="toolbar">
        <div class="toolbar-inner">
            <a class="link"></a>
            <a href="/" class="link">Weiter</a>
        </div>
    </div>
</template>