<template name="sportTypeSelection">
    {{#each c in categories}}
        <div class="autoWidthListBlock">
            <div class="content-block-title">{{c.name}}</div>
            <div class="list-block">
                <ul>
                    {{#each s in c.sportTypes}}
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" style="width: 75%;">{{s.name}}</div>
                                    <label class="label-switch checkbox-sportType" data-id="{{s.id}}">
                                        <input {{s.checked}} type="checkbox">
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/each}}
</template>