<template name="settingSwitch">
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label" style="width: 75%">{{title}}</div>
                <div class="item-input" style="text-align: right">
                    <label class="label-switch">
                        <input type="checkbox" data-id="{{id}}" checked="{{getState id}}" class="setting-checkbox">
                        <div class="checkbox"></div>
                    </label>
                </div>
            </div>
        </div>
    </li>
</template>