@import "{wolves:bourbon}/bourbon";

$color--red: #DC143C;
$color--yellow: #F9A825;
$color--green: #7ac142;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.output-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin-left: 10px;
  margin-bottom: 2px;
}

// Checkmark

.checkmark {
  box-shadow: inset 0 0 0 $color--green;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color--green;
  fill: none;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

.check {
  animation: checkfill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.check .checkmark__circle {
  animation: stroke .6s $curve forwards;
}

.check .checkmark__check {
  animation: stroke .3s $curve .8s forwards;
}

// X-Mark

.xmark {
  box-shadow: inset 0 0 0 $color--red;
}

.xmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color--red;
  fill: none;
}

.xmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

.xm {
  animation: xfill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.xm .xmark__circle {
  animation: stroke .6s $curve forwards;
}

.xm .xmark__check {
  animation: stroke .3s $curve .8s forwards;
}

// Exclamation mark

.warning {
  box-shadow: inset 0 0 0 $color--yellow;
}

.warning__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color--yellow;
  fill: none;
}

.warning__dash {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

.warning__dot {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

.warn {
  animation: warnfill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.warn .warning__circle {
  animation: stroke .6s $curve forwards;
}

.warn .warning__dash {
  animation: stroke .3s $curve .8s forwards;
}

.warn .warning__dot {
  animation: stroke .3s $curve .8s forwards;
}

// Keyframes

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes checkfill {
  100% {
    box-shadow: inset 0 0 0 30px $color--green;
  }
}

@keyframes xfill {
  100% {
    box-shadow: inset 0 0 0 30px $color--red;
  }
}

@keyframes warnfill {
  100% {
    box-shadow: inset 0 0 0 30px $color--yellow;
  }
}