<template name="output">
    <!-- Group selection -->
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-cover">
        <div class="content-block">
            <p class="panel-title">Gruppen</p>

            <div class="contacts-content">
                <div class="list-block contacts-block">
                    <ul>
                        {{#each g in list_groups}}
                            <li data-id="{{@index}}" class="group-selector">
                                <div class="contact-content">
                                    <div class="item-inner">
                                        <div class="item-title">{{g}}</div>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pages">
        <div data-page="index" class="page navbar-fixed">

            <!-- Navbar -->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="link open-panel">
                            <i class="icon icon-bars"></i>
                            <span>Gruppen</span>
                        </a>
                    </div>
                    <div class="center">{{get_groupname}}</div>
                    <div class="right">
                        <a href="#" class="link">Abmelden</a>
                    </div>
                </div>
            </div>

            <!-- Page content -->
            <div class="page-content">
                {{#each a in list_athletes}}
                    {{#with a}}
                        <div class="content-block-title">{{name}}</div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Gesamtpunktzahl</div>
                                            <div class="item-after">
                                                {{score}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Urkunde</div>
                                            <div class="item-after">
                                                {{#if valid}}
                                                    {{certificateName}}
                                                {{else}}
                                                    Noch nicht genügend Werte
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion-item"><a href="#" class="item-content item-link">
                                    <div class="item-inner">
                                        <div class="item-title">Einzelpunkte</div>
                                    </div>
                                </a>
                                    <div class="accordion-item-content">
                                        <div class="content-block" style="padding-left: 10%">
                                            {{#each s in stScores}}
                                                {{#with s}}
                                                    <p>{{name}}: {{score}}</p>
                                                {{/with}}
                                            {{/each}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    {{/with}}
                {{/each}}
            </div>
        </div>
    </div>

</template>