<template name="output">

    <div class="pages">
        <div data-page="index" class="page navbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div style="width: 100px"><a href="#" data-popup=".popup-help" class="open-popup"><i
                            class="f7-icons">help</i></a></div>
                    <div style="overflow-x: auto; overflow-y: hidden; text-align: center;" class="truncate">
                        <div id="output-name-swiper" class="swiper-container" style="height: 100%">
                            <div class="swiper-wrapper">
                                {{#each g in groups}}
                                    <div class="swiper-slide open-popover group-name"
                                         data-popover=".popover-groups">{{g.name}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div style="width: 100px; text-align: right;"><a href="#" class="logout-button">Abmelden</a></div>
                </div>
            </div>

            <div class="page-content">
                <div id="output-swiper" class="swiper-container" style="height: 100%;">
                    <div class="swiper-wrapper">
                        {{#each g in groups}}
                            <div class="swiper-slide" data-hash="{{g.hash}}"
                                 style="overflow-y: auto; overflow-x: hidden;">
                                {{>groupCertificates group=g}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="swiper-pagination"
                     style="left: calc(50% - 25px); text-align: center; width: 50px; padding: 5px; background-color:rgba(225, 225, 225, 0.75); border-radius: 20px;"></div>
            </div>
        </div>
    </div>

    {{#each g in groups}}
        {{#with g}}
            <!-- Detailed result popups -->
            {{#each a in validAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
            {{#each a in invalidAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
            {{#each a in doneAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
        {{/with}}
    {{/each}}

    <div class="popover popover-groups">
        <div class="popover-angle"></div>
        <div class="popover-inner">
            <div class="list-block group-list" style="max-height: 75%; overflow-y: scroll;">
                <ul>
                    {{#each groups}}
                        <li><a href="#" class="list-button item-link group-link"
                               data-target="{{@index}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <style>
        .group-list::-webkit-scrollbar {
            width: 0px; /* remove scrollbar space */
            background: transparent; /* optional: just make scrollbar invisible */
        }

        .group-name:hover {
            border-bottom-color: #B0BEC5;
            cursor: pointer;
        }

        .group-name {
            border-bottom: 2px solid transparent;
            text-decoration: none;
            transition: border-bottom-color 50ms linear 0s;
        }

        .truncate {
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Hairline after opened accordion */
        .accordion-item.accordion-item-expanded .accordion-item-content:after {
            content: '';
            position: absolute;
            padding-left: 15px;
            left: 15px;
            bottom: 0;
            right: auto;
            top: auto;
            height: 1px;
            width: 100%;
            background-color: #c8c7cc;
            display: block;
            z-index: 15;
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%
        }
    </style>

</template>

<template name="detailedResults">
    {{#with athlete}}
        <div class="popup popup-detail-{{id}}">
            <div class="content-block">
                <a href="#" class="close-popup"><i class="f7-icons vcenterIcon link"
                                                   style="float: left;">chevron_left</i></a>
                <h1 style="text-align: center;">{{name}}</h1>
                <h5 style="text-align: center">Gesamtpunktzahl: {{score}}</h5>
            <p id="description" style="text-align: justify">
                {{#each s in stScores}}
                    {{#with s}}
                        <p>{{name}}: {{score}}</p>
                    {{/with}}
                {{/each}}
                </p>
                <!-- Three { are required for html Tags! -->
            </div>
        </div>
    {{/with}}
</template>

<template name="groupCertificates">
    {{#with group}}
        {{#if not athleteCount}}
            <div class="content-block">
                <p style="text-align: center;">Es wurden noch keine Messdaten übermittelt.</p>
            </div>
        {{/if}}
        {{#if isNotEmpty validAthletes}}
            <div class="content-block-title" data-swiper-parallax="-100" data-swiper-parallax-duration="500">Zu
                erstellende Urkunden
            </div>
            <div class="list-block">
                <ul>
                    {{#each a in validAthletes}}
                        {{>result athlete=a}}
                    {{/each}}
                </ul>
            </div>
        {{/if}}

        {{#if isNotEmpty invalidAthletes}}
            <div class="content-block-title" data-swiper-parallax="-100" data-swiper-parallax-duration="500">Keine
                ausreichenden Daten
            </div>
            <div class="list-block">
                <ul>
                    {{#each a in invalidAthletes}}
                        {{>result athlete=a}}
                    {{/each}}
                </ul>
            </div>
        {{/if}}

        {{#if isNotEmpty doneAthletes}}
            <div class="content-block-title" data-swiper-parallax="-100" data-swiper-parallax-duration="500">
                Fertige Urkunden
            </div>
            <div class="list-block">
                <ul>
                    {{#each a in doneAthletes}}
                        {{>result athlete=a}}
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    {{/with}}
</template>

<template name="result">
    {{#with athlete}}
        <li class="accordion-item result-accordion {{#if not certificateWritten}}{{#if
                valid}}accordion-item-expanded{{/if}}{{/if}}">
            <a href="#" class="item-content item-link">
                <div class="item-media">

                    {{#if valid}}
                        {{#if certificateUpdate}}
                            <svg style="display: inline-block"
                                 class="output-icon oi-warn animated"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="warning__circle" cx="26" cy="26" r="25"
                                        fill="none"></circle>
                                <path class="oi__dash" fill="none"
                                      d="M26 11.5 l0 20.5"></path>
                                <circle class="oi__dot" cx="26" cy="40" r="1" fill="white"></circle>
                            </svg>
                        {{else}}
                            {{#if certificateWritten}}
                                <svg style="display: inline-block"
                                     class="output-icon oi-ok animated"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="oi__circle" cx="26" cy="26" r="25"
                                            fill="none"></circle>
                                    <path class="oi__check" fill="none"
                                          d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                                </svg>
                            {{else}}
                                <svg style="display: inline-block"
                                     class="output-icon oi-warn animated todo-svg"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="oi__circle" cx="26" cy="26" r="25"
                                            fill="none"></circle>
                                    <path class="oi__dash" fill="none"
                                          d="M11.5 26 L40.5 26"></path>
                                </svg>
                            {{/if}}
                        {{/if}}
                    {{else}}
                        <svg class="output-icon oi-err animated" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 52 52">
                            <circle class="oi__circle" cx="26" cy="26" r="25"
                                    fill="none"></circle>
                            <path class="oi__dash" fill="none"
                                  d="M26 11.5 l0 20.5"></path>
                            <circle class="oi__dot" cx="26" cy="40" r="1" fill="white"></circle>
                        </svg>
                    {{/if}}
                </div>
                <div class="item-inner">
                    <div style="display: inline-block">
                        <div class="item-title" style="display: inline-block; vertical-align: middle;">{{name}}</div>
                    </div>
                </div>
            </a>
            <div style="clear: both"></div>
            <div class="accordion-item-content">
                <div class="content-block" style="padding-left: 65px;">
                    {{#if certificateUpdate}}
                        <p style="text-align:left;">
                            Die Urkunde muss neu erstellt werden, da sich die Punktzahl des Athleten geändert hat.
                        </p>
                    {{/if}}
                    <p style="text-align:left;">
                        Urkunde
                        <span style="float:right;">
                            {{#if valid}}
                                {{certificateName}}
                            {{else}}
                                Noch nicht genügend Werte
                            {{/if}}
                        </span>
                    </p>
                    <p style="text-align:left;">
                        Gesamtpunktzahl <i class="f7-icons open-detail-view" style="font-size: 14px; cursor: pointer"
                                           data-id="{{id}}">info_fill</i>
                        <span style="float:right;">{{score}}</span>
                    </p>
                    {{#if not certificateWritten}}
                        {{#if valid}}
                            <p>
                                <a href="#" class="item-link list-button signCertificate" data-id="{{id}}">Urkunde
                                    wurde erstellt</a>
                            </p>
                        {{/if}}
                    {{else}}
                        <p style="text-align:left;">
                            Erstellungsdatum
                            <span style="float:right;">
                                {{humanReadableDate certificateTime}}
                            </span>
                        </p>
                        {{#if certificatedBy}}
                            <p style="text-align:left;">
                                Ersteller
                                <span style="float:right;">
                                    {{certificatedBy}}
                                </span>
                            </p>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </li>
    {{/with}}
</template>