<template name="output">
    {{> offline}}
    <div class="pages">
        <div data-page="index" class="page navbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"><a href="#" data-popup=".popup-help" class="open-popup"><i
                            class="f7-icons">help</i></a></div>
                    <div class="center truncate">
                        <div id="output-name-swiper" class="swiper-container full-height">
                            <div class="swiper-wrapper">
                                {{#each g in groups}}
                                    <div class="swiper-slide open-popover hover-underline group-name"
                                         data-popover=".popover-groups">{{g.name}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="right"><a href="#" class="logout-button">Abmelden</a></div>
                </div>
            </div>

            <div class="page-content">
                <div id="output-swiper" class="swiper-container full-height">
                    <div class="swiper-wrapper">
                        {{#each g in groups}}
                            <div class="swiper-slide" data-hash="{{g.hash}}">
                                {{>groupCertificates group=g}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="swiper-pagination fraction"></div>
            </div>
        </div>
    </div>

    {{#each g in groups}}
        {{#with g}}
            <!-- Detailed result popups -->
            {{#each a in validAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
            {{#each a in invalidAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
            {{#each a in doneAthletes}}
                {{>detailedResults athlete=a}}
            {{/each}}
        {{/with}}
    {{/each}}

    <div class="popover popover-groups">
        <div class="popover-angle"></div>
        <div class="popover-inner">
            <div class="list-block hide-scrollbar limit-vertical-height hover-underline">
                <ul>
                    {{#each groups}}
                        <li><a href="#" class="list-button item-link group-link"
                               data-target="{{@index}}">{{this.name}}</a></li>
                    {{/each}}
                    <li>
                        <a href="#" class="list-button item-link refresh-link"><i class="f7-icons">reload</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>

<template name="detailedResults">
    {{#with athlete}}
        <div class="popup popup-detail-{{id}}">
            <div class="content-block">
                <a href="#" class="close-popup"><i class="f7-icons vcenterIcon link align-left">chevron_left</i></a>
                <h1 class="t-center">{{name}}</h1>
                <h5 class="t-center">Gesamtpunktzahl: {{score}}</h5>
            <p id="description" class="justify">
                {{#each s in stScores}}
                    {{#with s}}
                        <p>{{name}}: {{score}}</p>
                    {{/with}}
                {{/each}}
                </p>
                <!-- Three { are required for html Tags! -->
            </div>
        </div>
    {{/with}}
</template>

<template name="groupCertificates">
    {{#with group}}
        {{#if not athleteCount}}
            <div class="content-block">
                <p class="t-center">Es wurden noch keine Messdaten übermittelt.</p>
            </div>
        {{/if}}
        <div class="autoWidthListBlock collapsible {{#if notContainsAthletes validAthletes}}collapsed{{/if}}">
            <div class="content-block-title" data-swiper-parallax="-100" data-swiper-parallax-duration="500">Zu
                erstellende Urkunden
            </div>
            <div class="list-block">
                <ul>
                    {{#each a in validAthletes}}
                        {{>result athlete=a}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="autoWidthListBlock collapsible {{#if notContainsAthletes invalidAthletes}}collapsed{{/if}}">
            <div class="content-block-title" data-swiper-parallax="-100" data-swiper-parallax-duration="500">Keine
                ausreichenden Daten
            </div>
            <div class="list-block">
                <ul>
                    {{#each a in invalidAthletes}}
                        {{>result athlete=a}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="autoWidthListBlock collapsible {{#if notContainsAthletes doneAthletes}}collapsed{{/if}}">
            <div class="content-block-title" data-swiper-parallax="-100" data-swiper-parallax-duration="500">
                Fertige Urkunden
            </div>
            <div class="list-block">
                <ul>
                    {{#each a in doneAthletes}}
                        {{>result athlete=a}}
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/with}}
</template>

<template name="result">
    {{#with athlete}}
        <li class="accordion-item result-accordion {{#if not certificateWritten}}{{#if
                valid}}accordion-item-expanded{{/if}}{{/if}} {{#if moved}}fade-open{{/if}}">
            <a href="#" class="item-content item-link">
                <div class="item-media">

                    {{#if valid}}
                        {{#if certificateUpdate}}
                            {{> iconWarn}}
                        {{else}}
                            {{#if certificateWritten}}
                                {{> iconOK}}
                            {{else}}
                                {{> iconReady class="todo-svg"}}
                            {{/if}}
                        {{/if}}
                    {{else}}
                        {{> iconErr}}
                    {{/if}}
                </div>
                <div class="item-inner">
                    <div style="display: inline-block">
                        <div class="item-title" style="display: inline-block; vertical-align: middle;">{{name}}</div>
                    </div>
                </div>
            </a>
            <div style="clear: both"></div>
            <div class="accordion-item-content">
                <div class="content-block" style="padding-left: 65px;">
                    {{#if certificateUpdate}}
                        <p class="t-left">
                            Die Urkunde muss neu erstellt werden, da sich die Punktzahl des Athleten geändert hat.
                        </p>
                    {{/if}}
                    <p class="t-left">
                        Urkunde
                        <span class="align-right">
                            {{#if valid}}
                                {{certificateName}}
                            {{else}}
                                Noch nicht genügend Werte
                            {{/if}}
                        </span>
                    </p>
                    <p class="t-left">
                        Gesamtpunktzahl <i class="f7-icons open-detail-view" style="font-size: 14px; cursor: pointer"
                                           data-id="{{id}}">info_fill</i>
                        <span class="align-right">{{score}}</span>
                    </p>
                    {{#if not certificateWritten}}
                        {{#if valid}}
                            <p>
                                <a href="#" class="item-link list-button signCertificate" data-id="{{id}}">Urkunde
                                    wurde erstellt</a>
                            </p>
                        {{/if}}
                    {{else}}
                        <p class="t-left">
                            Erstellungsdatum
                            <span class="align-right">
                                {{humanReadableDate certificateTime}}
                            </span>
                        </p>
                        {{#if certificatedBy}}
                            <p class="t-left">
                                Ersteller
                                <span class="align-right">
                                    {{certificatedBy}}
                                </span>
                            </p>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </li>
    {{/with}}
</template>