<template name="iconOK">
    <svg class="icon i-ok animated {{class}}"
         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="i__circle" cx="26" cy="26" r="25"
                fill="none"></circle>
        <path class="i__check" fill="none"
              d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
    </svg>
</template>

<template name="iconWarn">
    <svg class="icon i-warn animated {{class}}"
         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="i__circle" cx="26" cy="26" r="25"
                fill="none"></circle>
        <path class="i__dash" fill="none"
              d="M26 11.5 l0 20.5"></path>
        <circle class="i__dot" cx="26" cy="40" r="1" fill="white"></circle>
    </svg>
</template>

<template name="iconErr">
    <svg class="icon i-err animated {{class}}" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 52 52">
        <circle class="i__circle" cx="26" cy="26" r="25"
                fill="none"></circle>
        <path class="i__dash" fill="none"
              d="M26 11.5 l0 20.5"></path>
        <circle class="i__dot" cx="26" cy="40" r="1" fill="white"></circle>
    </svg>
</template>

<template name="iconReady">
    <svg class="icon i-ready animated {{class}}"
         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="i__circle" cx="26" cy="26" r="25"
                fill="none"></circle>
        <path class="i__check" fill="none"
              d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
    </svg>
</template>