<template name="iconPreloader">
    <span class="preloader"
          style="position: static; margin: 0 0 0 10px; width:20px; height:20px"></span>
</template>

<template name="iconOK">
    <div class="tooltip">
        <svg class="icon i-ok {{#if noAnimation}}not-animated{{else}}animated{{/if}} {{class}}"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="i__circle" cx="26" cy="26" r="25"
                    fill="none"></circle>
            <path class="i__check" fill="none"
                  d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
        </svg>
        {{#if text}}
            <span class="tooltiptext">{{text}}</span>
        {{/if}}
    </div>
</template>

<template name="iconWarn">
    <div class="tooltip">
        <svg class="icon i-warn {{#if noAnimation}}not-animated{{else}}animated{{/if}} {{class}}"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="i__circle" cx="26" cy="26" r="25"
                    fill="none"></circle>
            <path class="i__dash" fill="none"
                  d="M26 11.5 l0 20.5"></path>
            <circle class="i__dot" cx="26" cy="40" r="1" fill="white"></circle>
        </svg>
        {{#if text}}
            <span class="tooltiptext">{{text}}</span>
        {{/if}}
    </div>
</template>

<template name="iconErr">
    <div class="tooltip">
        <svg class="icon i-err {{#if noAnimation}}not-animated{{else}}animated{{/if}} {{class}}"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 52 52">
            <circle class="i__circle" cx="26" cy="26" r="25"
                    fill="none"></circle>
            <path class="i__dash" fill="none"
                  d="M26 11.5 l0 20.5"></path>
            <circle class="i__dot" cx="26" cy="40" r="1" fill="white"></circle>
        </svg>
        {{#if text}}
            <span class="tooltiptext">{{text}}</span>
        {{/if}}
    </div>
</template>

<template name="iconReady">
    <div class="tooltip">
        <svg class="icon i-ready {{#if noAnimation}}not-animated{{else}}animated{{/if}} {{class}}"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="i__circle" cx="26" cy="26" r="25"
                    fill="none"></circle>
            <path class="i__check" fill="none"
                  d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
        </svg>
        {{#if text}}
            <span class="tooltiptext">{{text}}</span>
        {{/if}}
    </div>
</template>