<template name="popup">
    <div class="popup {{class}}" style="overflow: hidden; z-index: 100000">
        <div class="content-block" style="height: 100%;">
            <div style="height: 15%;">
                <a href="#" class="close-popup"><i class="f7-icons vcenterIcon link"
                                                   style="float: left;">chevron_left</i></a>
                <h1 class="t-center">{{title}}</h1>
                <h5 class="t-center">{{subtitle}}</h5>
            </div>
            <div style="height: calc(85% - 35px); overflow-y: auto;">
                {{>Template.dynamic template=content data=data}}
            </div>
        </div>
    </div>
</template>