<template name="login">
    <div class="login-screen {{#if show_login}}modal-in{{/if}}">
        <div class="view">
            <div class="page">
                <div class="page-content login-screen-content">
                    <div class="login-screen-title">RunItEasy</div>
                    <div class="list-block">
                        <ul>
                            {{#each a in arrayify accounts}}
                                <li class="item-content">
                                    <div class="item-inner">
                                        {{#with a}}
                                            {{#if logged_in}}
                                                {{>logout_button name=name value=placeholder processing=processing}}
                                            {{else}}
                                                {{>login_button name=name processing=processing}}
                                            {{/if}}
                                        {{/with}}
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="list-block">
                        {{#if input_permitted}}
                            <ul>
                                <li>
                                    <a href="#" data-target="{{target}}"
                                       class="item-link list-button submit-button close-login-screen">Eingabe
                                        starten</a>
                                </li>
                            </ul>
                        {{/if}}
                        <div class="list-block-label">Hinweis: Sofern nur der Gruppenleiter angemeldet ist können keine
                            Änderungen an den Daten vorgenommen werden!
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <img src="/icons/Logo512.png" style="width: 70%; max-width: 300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="login_button">
    <div class="item-title label">{{name}}</div>
    <div class="item-input">
        <input type="password" id="{{name}}_pwd" placeholder="{{name}}">
    </div>
    {{#if processing}}
        {{>preloader}}
    {{else}}
        <a href="#" class="item-link list-button login-button" data-name="{{name}}">Anmelden</a>
    {{/if}}
</template>

<template name="logout_button">
    <div class="item-title label">{{name}}</div>
    <div class="item-input">
        <input type="text" value="{{value}}" disabled>
    </div>
    {{#if processing}}
        {{>preloader}}
    {{else}}
        <a href="#" class="item-link list-button color-red logout-button " data-name="{{name}}">Abmelden</a>
    {{/if}}
</template>

<template name="preloader">
    <div style="width: 65%; height: 43px">
        <span style="display: block; margin: auto; padding-top: 22px" class="preloader"></span>
    </div>
</template>