<template name="codes">
    <div class="pages">
        <div data-page="index" class="page navbar-fixed toolbar-fixed">


            <!-- Navbar -->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"></div>
                    <div class="center">Zugangscodes</div>
                    <div class="right"></div>
                </div>
            </div>


            <!-- Page Content -->
            <div class="page-content">
                <!-- Split Codes/controls -->
                <div class="row">
                    <!-- Codes -->
                    <div class="col-70">
                        <div class="row">
                            <!-- Spacing -->
                            <div class="col-5"></div>
                            <div class="col-90">
                                <!-- Codes in Spcing -->
                                <div class="content-block-title">Zugangscodes</div>
                                <div class="list-block">
                                    <ul>
                                        <!-- Divider -->
                                        <li class="item-divider">Stationslogins</li>
                                        <!-- Iterated Code Access-->

                                        {{#each l in login_stations}}
                                            {{#with l}}
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-title">{{name}}</div>
                                                            <div class="item-after">{{password}}</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/with}}
                                        {{/each}}
                                        <!-- Divider -->
                                        <li class="item-divider">Gruppenlogins</li>
                                        <!-- Iterated Code Access -->
                                        {{#each l in login_groups}}
                                            {{#with l}}
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-title">{{name}}</div>
                                                            <div class="item-after">{{password}}</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/with}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                            <!-- Spacing -->
                            <div class="col-5"></div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <div class="col-30">
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="90">
                                <!-- Button New -->
                                <p><a href="#" id="btn-new-codes" class="button button-fill button-big color-green">
                                    Neu Codes erstellen</a></p>
                                <div style="text-align: center;">
                                    <span id="progress-text">No accounts</span>
                                </div>

                                <p>
                                    <span id="progress-bar" data-progress="10" class="progressbar"></span>
                                </p>
                                <!-- Button Print -->
                                <p><a href="#" id="btn-print"
                                      class="button button-fill button-big color-gray">Drucken</a>
                                </p>
                            </div>
                            <div class="col-5"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="printcontent">
                <div class="print-password-title">Stationslogins</div>
                <table class="print-password-table">
                    {{#each l in login_stations}}
                        {{#with l}}
                            <tr>
                                <td class="print-password-field">{{name}}</td>
                                <td class="print-password-field">{{password}}</td>
                            </tr>
                        {{/with}}
                    {{/each}}
                </table>
                >
            </div>
            >
            <!--<tr>-->
            <!--<td>Alfreds Futterkiste</td>-->
            <!--<td>Maria Anders</td>-->
            <!--<td>Germany</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Centro comercial Moctezuma</td>-->
            <!--<td>Francisco Chang</td>-->
            <!--<td>Mexico</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Ernst Handel</td>-->
            <!--<td>Roland Mendel</td>-->
            <!--<td>Austria</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Island Trading</td>-->
            <!--<td>Helen Bennett</td>-->
            <!--<td>UK</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Laughing Bacchus Winecellars</td>-->
            <!--<td>Yoshi Tannamuri</td>-->
            <!--<td>Canada</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Magazzini Alimentari Riuniti</td>-->
            <!--<td>Giovanni Rovelli</td>-->
            <!--<td>Italy</td>-->
            <!--</tr>-->
            <!--</table>-->


            <!-- Toolbar -->
            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="" class="item-link" id="link_back">Zurück</a>
                    <a href="" class="item-link" id="link_start">Bundesjugendspiele starten</a>
                </div>
            </div>
        </div>
    </div>
</template>