.btn-select-custom, .btn-select-custom * {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

@media print {
    html, body, body * {
        width: 100%;
        visibility: hidden;
    }

    .printcontent * {
        visibility: visible;
    }

    .printcontent {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }
}