<template name="codes">
    <div class="pages">
        <div data-page="index" class="page navbar-fixed toolbar-fixed">


            <!-- Navbar -->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"></div>
                    <div class="center">Zugangscodes</div>
                    <div class="right"></div>
                </div>
            </div>


            <!-- Page Content -->
            <div class="page-content">
                <!-- Split Codes/controls -->
                <div class="row">
                    <!-- Codes -->
                    <div class="col-70">
                        <div class="row">
                            <!-- Spacing -->
                            <div class="col-5"></div>
                            <div class="col-90">
                                <!-- Codes in Spcing -->
                                <div class="content-block-title">Zugangscodes</div>
                                <div class="list-block">
                                    <ul>
                                        <!-- Divider -->
                                        <li class="item-divider">Stationslogins</li>
                                        <!-- Iterated Code Access-->

                                        {{#each l in login_stations}}
                                            {{#with l}}
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-title">{{#with
                                                                    account}}{{name}}{{/with}}</div>
                                                            <div class="item-after">{{password}}</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/with}}
                                        {{/each}}
                                        <!-- Divider -->
                                        <li class="item-divider">Gruppenlogins</li>
                                        <!-- Iterated Code Access -->
                                        {{#each l in login_groups}}
                                            {{#with l}}
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-title">{{#with
                                                                    account}}{{name}}{{/with}}</div>
                                                            <div class="item-after">{{password}}</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/with}}
                                        {{/each}}
                                        <!-- Divider -->
                                        <li class="item-divider">Eigene Logins</li>
                                        <!-- Iterated Code Access -->
                                        {{#each l in login_custom}}
                                            {{#with l}}
                                                {{#let account_index=@index}}
                                                    <li class="accordion-item">
                                                        <a href="" class="item-link item-content">
                                                            <div class="item-inner">
                                                                <div class="item-title">{{#with
                                                                        account}}{{name}}{{/with}}</div>
                                                                <div class="item-after">{{password}}</div>
                                                            </div>
                                                        </a>
                                                        <div class="accordion-item-content">
                                                            <div style="margin-left: 10%; width: 85%">
                                                                <div class="list-block">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="item-content">
                                                                                <div class="item-inner">
                                                                                    <div class="item-title label">Name
                                                                                    </div>
                                                                                    <div class="item-input">
                                                                                        <input data-account_index="{{account_index}}"
                                                                                               value="{{#with
                                                                                                       account}}{{name}}{{/with}}"
                                                                                               type="text"
                                                                                               class="in-custom-name"
                                                                                               placeholder="Name">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <!-- Single chekbox item -->
                                                                        {{#each s in sports}}
                                                                            {{#with s}}
                                                                                <li>
                                                                                    <label class="label-checkbox item-content">
                                                                                        <input type="checkbox" {{checked}}
                                                                                               class="permission-input"
                                                                                               data-account_index="{{account_index}}"
                                                                                               id="custom-select-{{stID}}-{{account_index}}">
                                                                                        <div class="item-media">
                                                                                            <i class="icon icon-form-checkbox"></i>
                                                                                        </div>
                                                                                        <div class="item-inner">
                                                                                            <div class="item-title">{{name}}</div>
                                                                                        </div>
                                                                                    </label>
                                                                                </li>
                                                                            {{/with}}
                                                                        {{/each}}
                                                                        <li>
                                                                            <label class="label-checkbox item-content">
                                                                                <input type="checkbox" {{canViewResults}}
                                                                                       class="permission-input"
                                                                                       data-account_index="{{account_index}}"
                                                                                       id="custom-select-certificate-{{account_index}}">
                                                                                <div class="item-media">
                                                                                    <i class="icon icon-form-checkbox"></i>
                                                                                </div>
                                                                                <div class="item-inner">
                                                                                    <div class="item-title">Urkunden
                                                                                        erstellen
                                                                                    </div>
                                                                                </div>
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <p><a href="#" data-account_index="{{account_index}}"
                                                                      class="btn-remove-account button button-fill button-big color-red">"{{#with
                                                                        account}}{{name}}{{/with}}
                                                                    " löschen</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {{/let}}
                                            {{/with}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                            <!-- Spacing -->
                            <div class="col-5"></div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <div class="col-30">
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="90">
                                <!-- Button New -->
                                <p><a href="#" id="btn-new-codes" class="button button-fill button-big color-green">
                                    Zugangscodes automatisch erstellen</a></p>
                                <div style="text-align: center;">
                                    <span id="progress-text">Keine Zugangscodes</span>
                                </div>

                                <div id="code-generation-progress" class="progressbar" data-progress="20">
                                    <span></span>
                                </div>
                                <p><a href="#" id="btn-add-account"
                                      class="button button-fill button-big color-green">Eigenen Zugangscode
                                    erstellen</a>
                                </p>
                                <p><a href="#" id="btn-print"
                                      class="button button-fill button-big color-gray">Drucken</a>
                                </p>
                                <p><a href="#" id="btn-pdf"
                                      class="button button-fill button-big color-gray">Als PDF speichern</a>
                                </p>


                            </div>
                            <div class="col-5"></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="printcontent">
                {{>codes_print competition_name=get_competition_name login_stations=login_stations login_groups=login_groups login_custom=login_custom}}
            </div>

            <!-- Toolbar -->
            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="" class="item-link" id="link_back">Zurück</a>
                    <a href="" class="item-link" id="link_start">Bundesjugendspiele starten</a>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="codes_print">
    <div class="printcontent-content">
        <h1>{{competition_name}}: Zugangscodes</h1>

        {{#if hasData login_stations}}
            <div class="print-password-title">Stationslogins</div>
            <table class="print-password-table" style="width:100%">
                <tbody>
                    <tr>
                        <th><p align="left">Zugang</p></th>
                        <th><p align="right">Passwort</p></th>
                    </tr>
                    {{#each l in login_stations}}
                        <tr>
                            <td class="print-name-field">{{#with l}}{{#with account}}{{name}}{{/with}}{{/with}}</td>
                            <td class="print-password-field">{{#with l}}{{password}}{{/with}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}

        {{#if hasData login_groups}}
            <div class="print-password-title">Gruppenlogins</div>
            <table class="print-password-table">
                <tr>
                    <th><p align="left">Zugang</p></th>
                    <th><p align="right">Passwort</p></th>
                </tr>
                {{#each l in login_groups}}
                    <tr>
                        <td class="print-name-field">{{#with l}}{{#with account}}{{name}}{{/with}}{{/with}}</td>
                        <td class="print-password-field">{{#with l}}{{password}}{{/with}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}

        {{#if hasData login_groups}}
            <div class="print-password-title">Eigene Logins</div>
            <table class="print-password-table">
                <tr>
                    <th><p align="left">Zugang</p></th>
                    <th><p align="right">Passwort</p></th>
                </tr>
                {{#each l in login_custom}}
                    <tr>
                        <td class="print-name-field">{{#with l}}{{#with account}}{{name}}{{/with}}{{/with}}</td>
                        <td class="print-password-field">{{#with l}}{{password}}{{/with}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </div>
    <style>
        table { border-collapse: collapse; }
        tr { border-bottom: 1px solid rgba(236, 239, 241, .75); }
        tr:nth-child(even) {
            background-color: #ECEFF1;
        }
        .printcontent-content {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
        }

        .print-password-title {
            width: 100%;
            font-size: xx-large;
        }

        .print-name-field {
            text-align: left;
            width: 50%;
        }

        .print-password-field {
            text-align: right;
            width: 50%;
        }
    </style>
</template>