table { border-collapse: collapse; }
tr { border-bottom: 1px solid rgba(236, 239, 241, .75); }
tr:nth-child(even) {
    background-color: #ECEFF1;
}
.printcontent-content {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.print-password-title {
    width: 100%;
    font-size: xx-large;
}

.print-name-field {
    text-align: left;
    width: 50%;
}

.print-password-field {
    text-align: right;
    width: 50%;
}