<template name="attempts">
    {{#with sportType}}
        <div class="autoWidthListBlock">
            <div class="content-block-title" data-swiper-parallax="-100" data-swiper-parallax-duration="500">
                <a href="#" data-popup=".popup-{{name}}" class="link-open-st-info open-popup">
                    {{#with metadata}}{{name}}{{/with}} <i class="f7-icons" style="font-size: 12px">info</i>
                </a>
            </div>
            <div class="list-block {{#if
                    gap}}gap{{/if}}">
                <ul>
                    {{#each m in measurements}}
                        {{>attempt n=@index measurement=m metadata=metadata showIcon=true}}
                    {{/each}}
                    {{#if scoreWritePermission metadata}}
                        {{>attempt n=(length measurements) measurement=empty_measurement metadata=metadata showIcon=false}}
                    {{/if}}
                </ul>
            </div>
        </div>
    {{/with}}
</template>