<template name="sports_left">
    <!-- navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding">Sportarten</div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="page">
        <div class="page-content">
            <div class="content-block-title">Angebotene Sportarten</div>
            <div class="list-block">
                <ul>
                    <!-- Iterated links -->
                    <li><a class="item-link">
                        <div class="item-content">
                            <div class="item-inner">
                                <div  style="/* if deactivated text-decoration: line-through*/"  class="item-title">BEISPIEL LINK</div>
                            </div>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bottom Bar -->
    <div class="toolbar">
        <div class="toolbar-inner">
            <a href="../" id="link_back" class="link">Zurück</a>
        </div>
    </div>
</template>