<template name="omni_login">
    <!-- Default view-page layout -->
    <div class="view">
        <div class="page">
            <!-- page-content has additional login-screen content -->
            <div class="page-content login-screen-content">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">{{type}}</div>
                                <div class="item-input">
                                    <input type="password" placeholder="Passwort" data-type="{{type}}">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <table align="center">
                    <tr>
                        <td style="border-right: 1px solid lightgrey; padding-right: 20px;">
                            <a href="#" class="item-link list-button login-back-button">Zurück</a>
                        </td>
                        <td style="padding-left: 20px;">
                            <a href="#" class="item-link list-button login-button" data-type="{{type}}">Anmelden</a>
                        </td>
                    </tr>
                </table>
                <div class="list-block-label" style="padding-left: 10%; padding-right: 10%">Bitte melden sie sich mit
                    dem
                    Passwort an, welches sie von dem
                    Administrator erhalten haben.
                </div>
            </div>
        </div>
    </div>
</template>