<template name="contestTypeInformationPopups">
    {{#each i in getInformation}}
        {{>popup class=(add "popup-contestType-" i.name) title=i.name subtitle="Informationen" content="contestTypeInformationContent" data=(toSimplePopupData i)}}
    {{/each}}
</template>

<template name="contestTypeInformationContent">
    <h3 style="text-align: center;">Beschreibung</h3>
    <div style="text-align: center;">
        {{data.description}}
    </div>
    <h3 style="text-align: center;">Bewertung</h3>
    <div style="text-align: center;">
        {{data.rating}}
    </div>
</template>