<template name="logPopup">
    {{>popup class="popup-log" title="Log" content="logPopupContent"}}
</template>

<template name="logPopupContent">
    <table class="logTable">
        <tr>
            <th></th>
            <th>Uhrzeit</th>
            <th>Nachricht</th>
        </tr>
        {{#each l in getLog}}
            <tr>
                <td>
                    {{#if (eq l.level 0)}}
                        {{> iconOK}}
                    {{/if}}
                    {{#if (eq l.level 1)}}
                        {{> iconWarn}}
                    {{/if}}
                    {{#if (eq l.level 2)}}
                        {{> iconErr}}
                    {{/if}}
                </td>
                <td>{{l.timestamp}}</td>
                <td>{{l.message}}</td>
            </tr>
        {{/each}}
    </table>
</template>