table.logTable {
    border-collapse: collapse;
    width: 100%;
}

table.logTable th, table.logTable td {
    text-align: left;
    padding: 8px;
}

table.logTable tr:nth-child(even) {
    background-color: #f2f2f2
}

table.logTable th {
    background-color: #4CAF50;
    color: white;
}