.big-button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}

.offline {
    opacity: 0.8;
    background-color: gray;
}