.view-left {
    float: left;
    width: 30%;
    max-width: 320px;
    border-right: 1px solid #b2b2b2;
}

.view-main {
    max-width: 70%;
    min-width: -webkit-calc(100% - 321px);
    min-width: -moz-calc(100% - 321px);
    min-width: -ms-calc(100% - 321px);
    min-width: calc(100% - 321px);
}
.view-middle {
    float: left;
    width: 100%;
    /*width: 320px;*/
    border-right: 1px solid #b2b2b2;
}
.view-right {
    width: -webkit-calc(100% - 642px);
    width: -moz-calc(100% - 642px);
    width: -ms-calc(100% - 642px);
    width: calc(100% - 642px);
}
@media print
{
    body * { visibility: hidden; }
    #printcontent * { visibility: visible; }
    #printcontent { position: absolute; top: 40px; left: 30px; }
}