<template name="attempt">
    <li>
        <div class="item-content">
            <div class="item-media">
                {{#if showIcon}}
                    {{#with measurement}}
                        {{#if synced}}
                            {{> iconOK}}
                        {{else}}
                            {{> iconErr}}
                        {{/if}}
                    {{/with}}
                {{else}}
                    {{> iconReady}}
                {{/if}}
            </div>
            <div class="item-inner">
                <div class="item-title label">{{inc n}}. Versuch</div>
                <div class="item input">
                    <input type="{{#with metadata}}{{inputType}}{{/with}}"
                           placeholder="Ergebnis in {{#with metadata}}{{unit}}{{/with}}"
                           value="{{#with measurement}}{{strValue}}{{/with}}"
                           data-attempt="{{inc n}}"
                           data-stID="{{#with metadata}}{{id}}{{/with}}"
                           class="{{#with measurement}}{{class}}{{/with}}"
                        {{isReadOnly measurement}}
                    >
                </div>
            </div>
        </div>
    </li>
</template>