<template name="attempt">
    <li>
        <div class="item-content">
            <div class="item-media">
                {{#if showIcon}}
                    {{#with measurement}}
                        {{#if synced}}
                            {{> iconOK text="Dieser Wert wurde erfolgreich synchronisiert."}}
                        {{else}}
                            {{#if read_only}}
                                {{> iconWarn text="Es wird auf eine Verbindung gewartet."}}
                            {{else}}
                                {{> iconWarn text="Dieser Wert wurde noch nicht gespeichert."}}
                            {{/if}}
                        {{/if}}
                    {{/with}}
                {{else}}
                    {{> iconReady text="Es können Daten eingegeben werden."}}
                {{/if}}
            </div>
            <div class="item-inner">
                <div class="item-title label">{{inc n}}. Versuch</div>
                <div class="item input">
                    <input type="{{#with metadata}}{{inputType}}{{/with}}"
                           placeholder="Ergebnis in {{#with metadata}}{{unit}}{{/with}}"
                           value="{{#with measurement}}{{strValue}}{{/with}}"
                           data-attempt="{{inc n}}"
                           data-stID="{{#with metadata}}{{id}}{{/with}}"
                           class="{{#with measurement}}{{class}}{{/with}}"
                        {{disabledText measurement}}
                    >
                </div>
            </div>
        </div>
    </li>
</template>