<template name="accessCodes">
    <a href="#" class="button button-big button-fill generateCodes">Passwörter erzeugen</a>
    <div class="autoWidthListBlock">
        {{#each g in codeGroups}}
            {{#if not (isEmpty g.codes)}}
                <div class="content-block-title">{{g.name}}</div>
                <div class="list-block">
                    <ul class="container">
                        {{#each c in (g.codes)}}
                            <li class="result-accordion item">
                                <div class="item-content">
                                    {{#if c.code}}
                                        <div class="item-media">{{> iconOK}}</div>
                                    {{else}}
                                        <div class="item-media">
                                            {{> iconPreloader}}
                                        </div>
                                    {{/if}}
                                    <div class="item-inner">
                                        <div class="item-title">{{c.title}}</div>
                                        <div class="item-after">{{c.code}}</div>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        {{/each}}
    </div>
</template>