<template name="athleteList">
    <div id="drop_zone" class="drop-zone fade" ondrop="drop_handler(event);" ondragover="dragover_handler(event);"
         ondragend="dragend_handler(event);">
        <div class="file-drop-notice">
            Drop dat file here!
        </div>
    </div>
    <br>
    <div class="autoWidthListBlock">

        {{>config_searchBar}}

        {{#each g in groups}}
            {{> config_group g=g readOnly=readOnly}}
        {{/each}}
        {{#if not readOnly}}
            <div class="content-block t-center button-highlight add-group"><i class="f7-icons"
                                                                              style="display:inline-block; vertical-align: middle; padding-right: 10px">add</i>
                Gruppe hinzufügen
            </div>
            <div class="content-block t-center button-highlight import-csv open-popup" data-popup=".popup-csv-import">
                <i class="f7-icons" style="display:inline-block; vertical-align: middle; padding-right: 10px">add</i>
                CSV Datei importieren
            </div>
        {{/if}}
    </div>
</template>


<template name="athleteMetaIcons">
    {{#with athlete}}
        <span style="padding-left: 5px">
            {{#if isMale}} {{>faIcon i="fa-mars" style="color: darkblue"}} {{else}} {{>faIcon i="fa-venus" style="color: darkred"}} {{/if}}
            {{#if not (isZero handicap)}} {{>faIcon i="fa-wheelchair"}} {{/if}}
        </span>
    {{/with}}
</template>

<template name="faIcon">
    <i class="fa {{i}}" style="{{style}}"></i>
</template>