<template name="athleteList">
    <div class="autoWidthListBlock">
        {{#each g in groups}}
            <div class="content-block-title">{{g.name}}</div>
            <div class="list-block accordion-list">
                <ul>
                    {{#each a in g.athletes}}
                        <li class="accordion-item" data-id="{{a.id}}">
                            <a href="#" class="item-content item-link">
                                {{#if not readOnly}}
                                    {{#if not (athleteTooltipLevel a)}}
                                        <div class="item-media">{{> iconOK}}</div>
                                    {{else}}
                                        {{#if (eq (athleteTooltipLevel a) 1)}}
                                            <div class="item-media">{{> iconWarn text=(athleteTooltipMsg a)}}</div>
                                        {{else}}
                                            <div class="item-media">{{> iconErr text=(athleteTooltipMsg a)}}</div>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                                <div class="item-inner">
                                    <div class="item-title"
                                         style="display: inline-block; vertical-align: middle; width: 75%">
                                        {{#if readOnly}}
                                            {{a.firstName}}&nbsp;{{a.lastName}}
                                            {{#if validAthlete a}}{{>athleteMetaIcons athlete=a}}{{/if}}
                                        {{else}}
                                            <input type="text" class="name-input"
                                                   style="display: inline-block; width: 100%"
                                                   value="{{fullName a}}" placeholder="Vor-/Nachname"
                                                   data-id="{{a.id}}">
                                        {{/if}}
                                    </div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="content-block">
                                    {{#with a}}
                                        <p class="t-left">
                                            Geburtsjahr:
                                            <input type="text" value="{{ageGroup}}"
                                                   class="t-right align-right ageGroup"/>
                                        </p>
                                        <p class="t-left">
                                            Geschlecht:
                                            <span class="align-right">
                                                {{#if readOnly}}
                                                    {{#if isMale}}Männlich{{else}}Weiblich{{/if}}
                                                {{else}}
                                                    <span class="gender gender-male {{#if isUndefined
                                                                                          isMale}}not-selected{{/if}}  {{#if
                                                            not isMale}}not-selected{{/if}}">Männlich</span> / <span
                                                        class="gender gender-female {{#if isUndefined
                                                                                          isMale}}not-selected{{/if}}  {{#if
                                                                isMale}}not-selected{{/if}}">Weiblich</span>
                                                {{/if}}
                                            </span>
                                        </p>
                                        <p class="t-left">
                                            Startklasse:
                                            <span class="align-right startClassSelectOpen hover-underline">{{startClassName
                                                    handicap}}</span>
                                        </p>
                                    {{/with}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                    {{#if not readOnly}}
                        <li class="button-highlight add-athlete" data-id="{{g.name}}">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="f7-icons" style="margin-left: 10px;">add</i>
                                </div>
                                <div class="item-inner">
                                    <div style="display: inline-block">
                                        <div class="item-title" style="display: inline-block; vertical-align: middle;">
                                            Athleten hinzufügen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{/if}}
                </ul>
                <!--<div class="list-block-label">List block label text goes here</div>-->
            </div>
        {{/each}}
        {{#if not readOnly}}
            <div class="content-block t-center button-highlight add-group"><i class="f7-icons"
                                                                              style="display:inline-block; vertical-align: middle; padding-right: 10px">add</i>
                Gruppe hinzufügen
            </div>
        {{/if}}
    </div>
</template>

<template name="athleteMetaIcons">
    {{#with athlete}}
        <span style="padding-left: 5px">
            {{#if isMale}} {{>faIcon i="fa-mars" style="color: darkblue"}} {{else}} {{>faIcon i="fa-venus" style="color: darkred"}} {{/if}}
            {{#if not (isZero handicap)}} {{>faIcon i="fa-wheelchair"}} {{/if}}
        </span>
    {{/with}}
</template>

<template name="faIcon">
    <i class="fa {{i}}" style="{{style}}"></i>
</template>