<template name="athleteList">
    <div id="drop_zone" class="drop-zone fade" ondrop="drop_handler(event);" ondragover="dragover_handler(event);"
         ondragend="dragend_handler(event);">
        <div class="file-drop-notice">
            Drop dat file here!
        </div>
    </div>
    <style>
        .drop-zone {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 100;
            /*visibility: visible;*/
        }

        .drop-zone.fade-in {
            background-color: rgba(69, 90, 100, 0.5);
        }

        .drop-zone .file-drop-notice {
            background-color: whitesmoke;
            width: 300px;
            height: 200px;
            border-radius: 10px;
        }
    </style>
    <script>
        function drop_handler(ev) {
            console.log("Drop");
            ev.preventDefault();
            // If dropped items aren't files, reject them
            var dt = ev.dataTransfer;
            if (dt.items) {
                // Use DataTransferItemList interface to access the file(s)
                for (var i = 0; i < dt.items.length; i++) {
                    if (dt.items[i].kind == "file") {
                        var f = dt.items[i].getAsFile();
                        console.log("... file[" + i + "].name = " + f.name);
                        console.log("... file[" + i + "] = ", f);
                    }
                }
            } else {
                // Use DataTransfer interface to access the file(s)
                for (var i = 0; i < dt.files.length; i++) {
                    console.log("... file[" + i + "].name = " + dt.files[i].name);
                    console.log("... file[" + i + "] = ", dt.files[i]);
                }
            }
        }

        function dragover_handler(ev) {
            console.log("dragOver");
            // Prevent default select and drag behavior
            ev.preventDefault();
        }

        function dragend_handler(ev) {
            console.log("dragEnd");
            // Remove all of the drag data
            var dt = ev.dataTransfer;
            if (dt.items) {
                // Use DataTransferItemList interface to remove the drag data
                for (var i = 0; i < dt.items.length; i++) {
                    dt.items.remove(i);
                }
            } else {
                // Use DataTransfer interface to remove the drag data
                ev.dataTransfer.clearData();
            }
        }
    </script>
    <br>
    <div class="autoWidthListBlock">

        <div class="list-block">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="f7-icons">search</i></div>
                        <div class="item-inner">
                            <div class="item-title label">Suche</div>
                            <div class="item-input">
                                <input id="configAthletesSearch" type="text" style="width: 100%" value=""
                                       placeholder="Suche">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        {{#each g in groups}}
            <div class="content-block-title collapsible collapse-height-100 {{#if g.collapsed}}collapsed{{/if}}"
                 style="position: relative" data-gid="{{g.id}}">
                {{g.name}}
                <i class="fa fa-pencil rename-group" aria-hidden="true" style="cursor: pointer; padding-left:5px"></i>
                <i class="fa fa-remove remove-group" aria-hidden="true" style="cursor: pointer; padding-left:5px"></i>
                <div class="align-right fade {{#if not (isEmpty g.athletes)}}fade-in{{/if}}"
                     style="position: absolute; bottom: 0; right: 0; cursor: pointer;">
                    <i class="f7-icons collapse-group" style="font-size: 14px;">chevron_up</i>
                </div>
            </div>
            <div class="list-block accordion-list">
                <ul id="athlete-list-{{g.id}}">
                    {{#each a in g.athletes}}
                        <li class="accordion-item bg-color-transition"
                            style="{{#if g.collapsed}}background-color: #ECEFF1{{/if}}"
                            data-gid="{{g.id}}" data-id="{{a.id}}">
                            <a href="#" class="item-content item-link  collapsible collapse-height-100
                                    {{#if g.collapsed}}{{#if not
                                                             (eq @index 0)}}collapsed{{else}}collapse-group{{/if}}{{/if}}"
                               style="min-height: 0;">
                                {{#if not readOnly}}
                                    {{#if (and g.collapsed (eq @index 0))}}
                                        {{#if (eq g.errorLevel 0)}}
                                            <div class="item-media">{{> iconOK}}</div>
                                        {{/if}}
                                        {{#if (eq g.errorLevel 1)}}
                                            <div class="item-media">{{> iconWarn}}</div>
                                        {{/if}}
                                        {{#if (eq g.errorLevel 2)}}
                                            <div class="item-media">{{> iconErr}}</div>
                                        {{/if}}
                                    {{else}}
                                        {{#if not (athleteTooltipLevel a)}}
                                            <div class="item-media">{{> iconOK}}</div>
                                        {{else}}
                                            {{#if (eq (athleteTooltipLevel a) 1)}}
                                                <div class="item-media">{{> iconWarn text=(athleteTooltipMsg a)}}</div>
                                            {{else}}
                                                <div class="item-media">{{> iconErr text=(athleteTooltipMsg a)}}</div>
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                                <div class="item-inner">
                                    <div class="item-title"
                                         style="display: inline-block; vertical-align: middle; width: 75%">
                                        {{#if readOnly}}
                                            {{a.firstName}}&nbsp;{{a.lastName}}
                                            {{#if validAthlete a}}{{>athleteMetaIcons athlete=a}}{{/if}}
                                        {{else}}
                                            <p style="margin:0;position:relative;"
                                               class="{{#if (eq @index 0)}}groupTitle-{{g.id}}{{/if}}">
                                                <span>
                                                    <input type="text" class="name-input"
                                                           style="display: inline-block; width: 100%"
                                                           value="{{fullName a}}" placeholder="Vor-/Nachname"
                                                           data-id="{{a.id}}">
                                                </span>
                                                <span style="display: none">{{g.name}}</span>
                                            </p>
                                        {{/if}}
                                    </div>
                                    {{#if not readOnly}}{{#if not g.collapsed}}
                                        <span class="align-right remove-athlete delete-icon"><i class="f7-icons"
                                                                                                style="font-size: 17px; padding-right: 5px;">close_round</i></span>{{/if}}{{/if}}
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="content-block">
                                    {{#with a}}
                                        <p class="t-left">
                                            Geburtsjahr:
                                            <input type="text" value="{{ageGroup}}"
                                                   class="t-right align-right ageGroup"/>
                                        </p>
                                        <p class="t-left">
                                            Geschlecht:
                                            <span class="align-right">
                                                {{#if readOnly}}
                                                    {{#if isMale}}Männlich{{else}}Weiblich{{/if}}
                                                {{else}}
                                                    <span class="gender gender-male {{#if isUndefined
                                                                                          isMale}}not-selected{{/if}}  {{#if
                                                            not isMale}}not-selected{{/if}}">Männlich</span> / <span
                                                        class="gender gender-female {{#if isUndefined
                                                                                          isMale}}not-selected{{/if}}  {{#if
                                                                isMale}}not-selected{{/if}}">Weiblich</span>
                                                {{/if}}
                                            </span>
                                        </p>
                                        <p class="t-left">
                                            Startklasse:
                                            <span class="align-right startClassSelectOpen hover-underline">{{startClassName
                                                    handicap}}</span>
                                        </p>
                                    {{/with}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                    {{#if not readOnly}}
                        <li class="button-highlight add-athlete collapsible collapse-height-100
                            {{#if g.collapsed}}collapsed{{/if}}" data-id="{{g.id}}">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="f7-icons" style="margin-left: 10px;">add</i>
                                </div>
                                <div class="item-inner">
                                    <div style="display: inline-block">
                                        <div class="item-title" style="display: inline-block; vertical-align: middle;">
                                            Athleten hinzufügen
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{/if}}
                </ul>
                <!--<div class="list-block-label">List block label text goes here</div>-->
            </div>
        {{/each}}
        {{#if not readOnly}}
            <div class="content-block t-center button-highlight add-group"><i class="f7-icons"
                                                                              style="display:inline-block; vertical-align: middle; padding-right: 10px">add</i>
                Gruppe hinzufügen
            </div>
            <div class="content-block t-center button-highlight import-csv"><i class="f7-icons"
                                                                               style="display:inline-block; vertical-align: middle; padding-right: 10px">add</i>
                CSV Datei importieren
            </div>
        {{/if}}
    </div>
</template>

<template name="athleteMetaIcons">
    {{#with athlete}}
        <span style="padding-left: 5px">
            {{#if isMale}} {{>faIcon i="fa-mars" style="color: darkblue"}} {{else}} {{>faIcon i="fa-venus" style="color: darkred"}} {{/if}}
            {{#if not (isZero handicap)}} {{>faIcon i="fa-wheelchair"}} {{/if}}
        </span>
    {{/with}}
</template>

<template name="faIcon">
    <i class="fa {{i}}" style="{{style}}"></i>
</template>